.HomePageNav{
    background-color: #223343;
    color: #E8E8E8;
    height: 150px;
    padding-top: 10px;
    line-height: 140px;
    font-size: 32px;
    font-weight: 700;
}

.HomePageMain{
    background-color: #CCDDED;
    height: 450px;
    line-height: 450px;
    font-size: 28px;
    font-weight: 500;
}

.lbtn{
    font-size: 16px;
    padding: 8px 10px 8px 10px;
    margin-top: 30px;
}